
.label{
    position: relative;
    color: var(--text-color);
}
.text{
    position: absolute;
    background: var(--white);
    top: 0;
    left: 0;
    transform: translate(10%, -10%);
    padding: 0 5px;
    transition: var(--transition);
}
.input{
    background: var(--input-backround);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    color: var(--text-color);
    padding: 5px 30px 5px 10px;
    outline: none;
}
.input:focus{
    border: 1px solid var(--primary);
}
.icon{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-50%);
}
