.loader{
    display: inline-block;
    color: var(--primary);
    opacity: 0.5;
    animation: 1.2s linear 0s infinite  circle;
}
.center{
    height: 100%;
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes circle {
    from {transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}